.navfont {
    font-size: 18px;
}

.nav-link:hover {
    color: white !important;
    background-color: #7146ED;
}

.banner {
    background: url("images/banner.jpg");
    height: 65vh;
    background-size: cover;
    background-position: center;
}


.contacto {
  padding-bottom: 80px;
}
.contacto-contenedor {
  max-width: 80%;
  margin-right: auto;
  margin-left: auto;
}
.contacto-contenedor-fila1 {
  text-align: center;
  color: #2c3a5b;
  font-family: 'Montserrat';
}
.contacto-contenedor-fila1-titulo {
  font-size: 3rem;
  text-transform: uppercase;
}
.contacto-contenedor-fila1-separador {
  width: 21%;
  border: 2px solid #2c3a5b;
}
.contacto-contenedor-fila1-separador:after {
  content: "\2605";
  font-size: 3rem;
  position: relative;
  top: -28px;
  background: #fff;
  padding: 5px;
}
.contacto-contenedor-fila2-formulario {
  width: 70%;
  margin-right: auto;
  margin-left: auto;
  font-family: 'Lato';
  margin-top: 40px;
}
.contacto-contenedor-fila2-formulario-bloque {
  margin-bottom: 20px;
}
.contacto-contenedor-fila2-formulario-bloque input,
.contacto-contenedor-fila2-formulario-bloque textarea {
  font-size: 1.5rem;
  color: #495057;
  display: block;
  width: 100%;
  border: none;
  outline: 0;
  padding: 20px 0;
}
.contacto-contenedor-fila2-formulario-bloque hr {
  border: 1px solid #e9ecef;
}
.contacto-contenedor-fila2-formulario #submit {
  background: #18bc9c;
  border: none;
  padding: 20px 15px;
  color: #fff;
  font-size: 1.25rem;
  border-radius: 4px;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  -ms-transition: 0.3s;
  transition: 0.3s;
}
.contacto-contenedor-fila2-formulario #submit:hover {
  background: #128f76;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  -ms-transition: 0.3s;
  transition: 0.3s;
  cursor: pointer;
}

.portafolio {
  padding: 70px 0;
  font-family: 'Montserrat';
}
.portafolio-contenedor {
  max-width: 80%;
  margin-right: auto;
  margin-left: auto;
}
.portafolio-contenedor-fila1 {
  text-align: center;
  color: #2c3a5b;
  margin-bottom: 50px;
}
.portafolio-contenedor-fila1-titulo {
  font-size: 3rem;
  text-transform: uppercase;
}
.portafolio-contenedor-fila1-separador {
  width: 21%;
  border: 2px solid;
}
.portafolio-contenedor-fila1-separador:after {
  content: "\2605";
  font-size: 3rem;
  position: relative;
  top: -28px;
  background: #fff;
  padding: 5px;
}
.portafolio-contenedor-fila2 {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-pack: distribute;
  -moz-box-pack: distribute;
  -o-box-pack: distribute;
  -ms-flex-pack: distribute;
  -webkit-justify-content: space-around;
  justify-content: space-around;
  -webkit-box-lines: multiple;
  -moz-box-lines: multiple;
  -o-box-lines: multiple;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
.portafolio-contenedor-fila2-cajaImagenes {
  min-width: 250px;
  width: 30%;
  position: relative;
  margin: 20px 0;
  overflow: hidden;
}
.portafolio-contenedor-fila2-cajaImagenes-figure {
  margin: 0;
}
.portafolio-contenedor-fila2-cajaImagenes-figure img {
  display: block;
  width: 100%;
}
.portafolio-contenedor-fila2-cajaImagenes-icono {
  position: absolute;
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -o-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -moz-box-align: center;
  -o-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  top: 120%;
  bottom: 0;
  right: 0;
  left: 0;
  color: transparent;
  font-size: 3rem;
  -webkit-transition: 1s;
  -moz-transition: 1s;
  -o-transition: 1s;
  -ms-transition: 1s;
  transition: 1s;
/*background rgba(24,188,156,.8)*/
}
.portafolio-contenedor-fila2-cajaImagenes:hover .icon-search-plus {
  top: 0;
  color: #fff;
  background: rgba(24,188,156,0.8);
  -webkit-transition: 1s;
  -moz-transition: 1s;
  -o-transition: 1s;
  -ms-transition: 1s;
  transition: 1s;
}

@media screen and (max-width: 420px) {
  .header-contenedor-titulo {
    font-size: 3.8rem;
  }
  .portafolio-contenedor-fila1-titulo {
    font-size: 2.2rem;
  }
  .about-contenedor-fila1-titulo {
    font-size: 2.2rem;
  }
  .contacto-contenedor-fila1-titulo {
    font-size: 2.2rem;
  }
}


.footer
{
    background: #71a3ce;
    color: white;
    padding:20px 0;
}
.footer .row
{
    margin: 0 auto;
    display: flex;
    justify-content: center;
    width: 80%;
}

.list-footer ul
{
    margin: 0;
    padding: 0;
    list-style:none;
}
.list-footer ul li a
{
    text-decoration: none;
    color: white;
    font-weight: 600;
}
.social-media ul
{
    padding: 0;
}
.social-media ul li
{
    display: flex;
    align-items: center;
    margin: 10px 0;
}
.social-media ul li img
{
    width: 20px;
    height: 20px;
    margin-right: 10px;
}
.social-media ul li a
{
    text-decoration: none;
    color: white;
    font-weight: 600;
}
.footer-logo
{
    display: flex;
    align-items: center;
}

@media screen and (max-width:768px)
{
    .list-footer
    {
        display: none;
    }
    .about-footer
    {
        display: none;
    }

}
@media screen and (max-width:1024px)
{
    .list-footer
    {
        display: none;
    }
    .about-footer
    {
        display: none;
    }
}