.navfont {
    font-size: 18px;
    font-family: 'Poppins', sans-serif;
}

.nav-link:hover {
    color: #4654FE;
}

.carousel-item {
    height:32rem;
    background:black;
    color:white;
    position:relative;
}

.carousel-content {
    position:absolute;
    bottom:0;
    right:0;
    left:0;
    padding-bottom:50px;
}

.overlay-image {
    position: absolute;
    bottom:0;
    right:0;
    left:0;
    top:0;
    background-position: center;
    background-size:cover;
    opacity:0.5;
}

.plan-background {
    background-color: lightgray;

}

.poppins-font-title {
    font-family: 'Poppins', sans-serif;
    font-size: 45px;
    font-weight: 700;
}

.poppins-font-subtitle {
    font-family: 'Poppins', sans-serif;
    font-size: 38px;
    font-weight: 600;
}

.poppins-font-body {
    font-family: 'Poppins', sans-serif;
    font-size: 25px;
}

.ubuntu-font-title {
    font-family: 'Ubuntu', sans-serif;
    font-size:35px;
    font-weight: 600;
}

.ubuntu-font-body {
    font-family: 'Ubuntu', sans-serif;
    font-size:20px;
    font-weight: 500;
}

.pricing {
    font-family: 'Archivo Black', sans-serif;
    font-size:30px;
}